.blocks {
  display: grid;
  grid-template-columns: 500px 250px;
  grid-auto-rows: minmax(150px, auto);
  gap: 150px;
  margin: 5% auto;
  max-width: 800px;
}

.view-form, .lists {
  border: 5px solid rgb(110, 86, 40);
}

.view-form {
  max-height: 450px;
}

.text-center {
  text-align: center;
}

.lists-person {
  list-style-type: circle;
}

.style-form {
  font-style: italic;
}

.line-padding {
  margin: 15px;
  padding-left: 20px;
}

.year-list {
  background-color: rgb(230, 223, 204);
  color: rgb(110, 86, 40);
}

.style-button {
  background-color: rgb(230, 223, 204);
  color: rgb(110, 86, 40);
  margin: 15px;
  height: 40px;
  width: 70px;
  cursor: crosshair;
}

.right-button {
  text-align: right;
}

.error {
  color: red;
}

@media all and (max-width: 600px) {
  .style-button {
    box-shadow: 0 0 5px;
  }
}

@media all and (max-width: 970px) {
  .blocks {
    grid-template-columns: 1fr;
    gap: 50px;
    margin: 10px;
  }
}
